In [0]:
CREAte table sales_data(
  sale_id INT,
  customer_id VARCHAR(50),
  product VARCHAR(50),
  amount INT,
  sale_date DATE,
  region VARCHAR(50)
)

In [0]:
insert into sales_data values
(101, 'C001', 'Shoes', 2999, '2023-10-01', 'North'),
(102, 'C002', 'T-Shirt', 999, '2023-10-01', 'West'),
(103, 'C001', 'Watch', 5999, '2023-10-02', 'North'),
(104, 'C003', 'Bag', 1999, '2023-10-03', 'South');
select * from sales_data;

In [0]:

-- 1. sql query to get the total sales per region
select sum(amount)
from sales_data
group by region

In [0]:
-- retrieve all orders placed on or after 2023-10-02
select * from sales_data1 where sale_date>='2023-10-02'

In [0]:
-- find all customers who made purchases greater than 2000
select * from sales_data1 where amount>2000;

In [0]:
-- write a query to display highest single sale amount and its region
select amount,region from sales_data1 order by amount desc limit 1;