In [0]:
DELETE FROM sales_data where sale_id IN (101,102,103,104)

In [0]:
select * from sales_data

In [0]:
insert into sales_data values
(101, 'C001', 'Shoes', 2999, '2023-10-01', 'North'),
(102, 'C002', 'T-Shirt', 999, '2023-10-01', 'West'),
(103, 'C001', 'Watch', 5999, '2023-10-02', 'North'),
(104, 'C003', 'Bag', 1999, '2023-10-03', 'South');
select * from sales_data;

In [0]:
CREATE table customers(
  customer_id STRING,
  name VARCHAR(50),
  gender char(10),
  city VARCHAR(50)
)

In [0]:
select * from customers;

In [0]:
insert into customers values
('C001','Ravi','M','Mumbai'),
('C002','Priya','F','Delhi'),
('C003','Arjun','M','Bangalore');
select * from customers;

In [0]:
-- write a JOIN query to show cutomer name, product and region

select c.name, s.product, s.region
from sales_data s
inner join customers c
on s.customer_id=c.customer_id

In [0]:
-- count how many products each customer has purchased

select c.customer_id, count(s.customer_id)
from sales_data s
inner join customers c
on s.customer_id=c.customer_id
group by c.customer_id

In [0]:
-- get all female customers who made a purchase greater than 800

select c.name, s.product, s.region, s.amount
from sales_data s
inner join customers c
on s.customer_id=c.customer_id
where c.gender='F' and s.amount>800

In [0]:
-- identify cities with the highest toatal purchase amount

select c.city, sum(s.amount) as total_purchase_amount
from sales_data s
inner join customers c
on s.customer_id=c.customer_id
group by c.city
order by total_purchase_amount desc